---
import Hr from "./Hr.astro";
import Socials from "./Socials.astro";

const currentYear = new Date().getFullYear();

export interface Props {
  noMarginTop?: boolean;
}

const { noMarginTop = false } = Astro.props;
---

<footer class={`${noMarginTop ? "" : "mt-auto"} bg-skin-fill text-skin-base`}>
  <Hr noPadding />
  <div class="footer-wrapper">
    <Socials centered />
    <div class="copyright-wrapper">
      <span>ProDevOpsGuy Copyright &#169; {currentYear}</span>
      <span class="separator">&nbsp;|&nbsp;</span>
      <span>All rights reserved.</span>
    </div>
  </div>
</footer>

<style>
  footer {
    @apply w-full bg-skin-fill text-skin-base;
  }
  .footer-wrapper {
    @apply flex flex-col items-center justify-between py-6 sm:flex-row sm:py-4 space-y-4 sm:space-y-0;
  }
  .link-button {
    @apply my-1 p-2 transition-transform duration-300 ease-in-out hover:rotate-6;
  }
  .link-button svg {
    @apply scale-125;
  }
  .copyright-wrapper {
    @apply my-2 flex flex-col items-center whitespace-nowrap sm:flex-row space-y-2 sm:space-y-0;
  }
  .separator {
    @apply hidden sm:inline;
  }
  .social-icon {
    @apply transition-transform duration-300 ease-in-out hover:scale-110;
  }
</style>
