---
export interface Props {
  tag: string;
  size?: "sm" | "md" | "lg";
}

const { tag, size = "md" } = Astro.props;
---

<li class={`tag-card ${size}`}>
  <a href={`/tags/${tag}/`} class="tag-link">
    {tag}
  </a>
</li>

<style>
  :root {
    --bg-color-light: #ffffff;
    --bg-color-dark: #ffffff; /* White background in dark mode */
    --text-color-light: #000000;
    --text-color-dark: #000000; /* Dark text in dark mode */
  }

  .tag-card {
    background-color: var(--bg-color-light);
    color: var(--text-color-light);
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 1rem;
    margin: 0.5rem;
    transition:
      background-color 0.3s,
      color 0.3s,
      transform 0.3s;
  }

  .tag-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .tag-link {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
  }

  .tag-card.sm {
    padding: 0.5rem;
  }

  .tag-card.md {
    padding: 1rem;
  }

  .tag-card.lg {
    padding: 1.5rem;
  }

  @media (prefers-color-scheme: dark) {
    .tag-card {
      background-color: var(--bg-color-dark); /* White background in dark mode */
      color: var(--text-color-dark); /* Dark text in dark mode */
      border: 1px solid #444;
    }
  }
</style>
